#dom{
    position: fixed;

    background-color: aquamarine;
    border: 4px solid aqua;
    height: auto;

    max-height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.korg { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/1000_f_439544419_mesg2y1z76pfutjxt7i491sdxsxypma2_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}
.num { 
	width:25px;
	height:25px;
	position:absolute;
	left:50px;
	top:57px;
	/* background-image:url(images/1_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.e1 { 
	width:1417px;
	height:144px;
	position:absolute;
	left:11px;
	top:10px;
}
.e2{ 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1417px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:144px;
	height:818px;
	position:absolute;
	left:14px;
	top:185px;
}
.e4 { 
	width:144px;
	height:144px;
	position:absolute;
	left:11px;
	top:10px;
}

.funk { 
	width:1196px;
	height:818px;
	position:absolute;
	left:185px;
	top:185px;
}
.ass { 
	background-color:rgba(208.0000028014183, 208.0000028014183, 208.0000028014183, 1);
	width:1196px;
	height:818px;
	position:absolute;
	left:0px;
	top:0px;
}
.fot { 
	width:260px;
	height:776px;
	position:absolute;
	left:25px;
	top:21px;
}
.tipo { 
	width:260px;
	height:240px;
	position:absolute;
	top:0px;
}
.köpbild { 
	background-color:rgba(29.000000171363354, 29.000000171363354, 29.000000171363354, 0.5);
	width:260px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.adam{
	width:auto;
	height: 143px;
}
.bildsex{
	position: relative;
	width:260px;
	height:200px;
	opacity: 0.75;
}
.bildsex:hover{
	top: 5px;
	left: 5px;
	width:250px;
	height:190px;
	opacity: 1;
}
.köpr { 
	background-color:rgba(29.000000171363354, 29.000000171363354, 29.000000171363354, 0.5);
	width:260px;
	height:40px;
	position:absolute;
	left:0px;
	top:200px;
}

.mito { 
	width:260px;
	height:240px;
	position:absolute;
	top:268px;
}

.bito { 
	width:260px;
	height:240px;
	position:absolute;
	top:536px;
}
.q1 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:39px;
	position:absolute;
	left:177px;
	top:201px;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.q2 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:40px;
	position:absolute;
	left:20px;
	top:200px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.q3 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:39px;
	position:absolute;
	left:175px;
	top:737px;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.q4 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:40px;
	position:absolute;
	left:18px;
	top:736px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.q5 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:39px;
	position:absolute;
	left:179px;
	top:476px;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.q6 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:40px;
	position:absolute;
	left:22px;
	top:475px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.korgplat { 
	width:100px;
	height:100px;
	position:absolute;
	left:1328px;
	top:32px;
}

.densid { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:769px;
	position:absolute;
	left:31px;
	top:213px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.sex { 
	color:rgba(0, 0, 0, 1);
	width:248px;
	height:34px;
	position:absolute;
	left:318px;
	top:82px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
